body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    outline: 2px solid black;
    box-sizing: border-box;
}

.square {
    display: flex;
    outline: solid 1px grey;
    margin: 0;
}